* {
    color: #fff;
}

.Awesome {
    background-image: radial-gradient(circle, #3241a6 0, #202a6b 120%) !important;
    min-height: 100vh;
    height: 100%;
}

a {
  color: #ff625f;
  font-weight: bold;
}

a:hover, a:hover span {
  color: rgba(255, 98, 95, 0.53);
  text-decoration: none;
}

.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card {
    background: transparent;
    border: 1px solid #ff625f;
    padding: 15px;
    margin-bottom: 15px;
}

.card h4 {
    margin-bottom: 0;
}

.results > div {
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}

.template {
  display: none;
}

.fa-info-circle {
  margin: 0.5rem;
}

.tippy-tooltip.bitwages-theme {
  background-color: #0e1230;
  border: 1px solid #ff625f;
  text-align: left;
  max-width: 350px;
  padding: 15px 25px;
}

.tippy-tooltip.bitwages-theme .tippy-tooltip-content {
  color: white;
}

.tippy-popper[x-placement=top] .tippy-tooltip.bitwages-theme [x-arrow] {
  border-top: 7px solid #ff625f;
}

.tippy-popper[x-placement=bottom] .tippy-tooltip.bitwages-theme [x-arrow] {
  border-bottom: 7px solid #ff625f; 
}

a:hover > span{
  color: white;
}